<div class="flex-container">
	<div class="profile-container">
      <%= attachment_image_tag @user, :user_image, :fill, 100, 100, format: 'png', fallback: "no_image.png" %>
      <h2 class="name"><%= @user.nickname %></h2>
      <%= link_to edit_user_path(@user), class: "fas fa-cog" %>
      <p class="description">
      	<%= @user.user_description %>
      </p>
	</div>
</div>