<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "猫とひと息", root_path %>
    </div>
    <ul class="nav navbar-nav float-right">
    	<li class="drop-down">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">北海道・東北<span class="caret"></span></a>
              <ul class="dropdown-menu">
                	<li><a href="#">Web Development</a></li>
                	<li><a href="#">Web Design</a></li>
                	<li><a href="#">Graphic Design</a></li>
                	<li><a href="#">Branding</a></li>
              </ul>
        </li>
        <li class="drop-down">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">関東<span class="caret"></span></a>
              <ul class="dropdown-menu">
                	<li><a href="#">Web Development</a></li>
                	<li><a href="#">Web Design</a></li>
                	<li><a href="#">Graphic Design</a></li>
                	<li><a href="#">Branding</a></li>
              </ul>
        </li>
        <li class="drop-down">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">中部<span class="caret"></span></a>
              <ul class="dropdown-menu">
                	<li><a href="#">Web Development</a></li>
                	<li><a href="#">Web Design</a></li>
                	<li><a href="#">Graphic Design</a></li>
                	<li><a href="#">Branding</a></li>
              </ul>
        </li>
        <li class="drop-down">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">近畿<span class="caret"></span></a>
              <ul class="dropdown-menu">
                	<li><a href="#">Web Development</a></li>
                	<li><a href="#">Web Design</a></li>
                	<li><a href="#">Graphic Design</a></li>
                	<li><a href="#">Branding</a></li>
              </ul>
        </li>
        <li class="drop-down">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">中国<span class="caret"></span></a>
              <ul class="dropdown-menu">
                	<li><a href="#">Web Development</a></li>
                	<li><a href="#">Web Design</a></li>
                	<li><a href="#">Graphic Design</a></li>
                	<li><a href="#">Branding</a></li>
              </ul>
        </li>
        <li class="drop-down">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">四国<span class="caret"></span></a>
              <ul class="dropdown-menu">
                	<li><a href="#">Web Development</a></li>
                	<li><a href="#">Web Design</a></li>
                	<li><a href="#">Graphic Design</a></li>
                	<li><a href="#">Branding</a></li>
              </ul>
        </li>
        <li class="drop-down">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">九州・沖縄<span class="caret"></span></a>
              <ul class="dropdown-menu">
                	<li><a href="#">Web Development</a></li>
                	<li><a href="#">Web Design</a></li>
                	<li><a href="#">Graphic Design</a></li>
                	<li><a href="#">Branding</a></li>
              </ul>
        </li>
        <li>
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <li>
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
  </div>
</nav>