<header>
	<h1 class="headline">
		<%= link_to "猫とひと息", root_path %>
	</h1>
</header>

<nav>
	<ul class="nav-list float-right block">
		<li class="nav-list-item">
			<%= link_to "新規登録", new_user_registration_path, class: "block" %>
		</li>
		<li class="nav-list-item">
		    <%= link_to "ログイン", new_user_session_path, class: "block" %>
		</li>
	</ul>
</nav>