<header>
	<h1 class="headline">
		<%= link_to "猫とひと息", root_path %>
	</h1>
</header>

<nav class="clearfix">
	<ul class="nav-list block">
		<li class="nav-list-item">
		  <%= link_to "マイページ", user_path(current_user.id) %>
		</li>
	</ul>
</nav>